/*Style Sheet for Jon Cronin Portfolio Project -
This style sheet attempts to capture the design/style of the
page/site content leaving the HTML pages to include just the
content itself.*/

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0 10px 10px 10px;
  /* max-width here is based on the advertise image which is 1280px wide */
  max-width: 1280px;
}

header, nav, footer, section, div {
  box-sizing: border-box;
}

img, embed, object, video, header {
  max-width: 100%;
}

.header {
  box-shadow: 0 4px 0px #7d97ad;
  margin-top: 20px;
  padding: 10px 0px 10px 0px;
  text-align: right;
  color: #2d3c49;
}

.header-logo {
  width: 70px;
  vertical-align: top;
  float: left;
}

.header-title {
  font-weight: 100;
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
}

.header-subtitle {
  font-weight: 100;
  font-size: 1em;
  margin: 0;
  text-transform: uppercase;
}

.advertise {
  margin-top: 30px;
}

.feature-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 2em;
  color: #7d97ad;
}

figure {
  margin: auto;
}

figcaption h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
  margin: 10px;
}

.featured-work {
  width: 100%;
  display: flex;
}

.work-item {
  width: 33.33%;
  text-align: center;
  margin: 0;
}

.work-item a, .work-item a:visited {
  text-decoration: none;
  color: #7d97ad;
  padding: 1.5em;
}

.work-item a:hover {
  text-decoration: underline;
  color: #7d97ad;
}

.left {
  float: left;
  padding-right: 10px;
}

.center {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

.right {
  float: right;
  padding-left: 10px;
}
