body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0 10px 10px 10px;
  /* max-width here is based on the advertise image which is 1280px wide */
  max-width: 1280px;
}

header, nav, footer, section, div {
  box-sizing: border-box;
}

img, embed, object, video, header {
  max-width: 100%;
}

/*
 *
 * Header
 *
 */
.header {
  box-shadow: 0 4px 0px #7d97ad;
  margin-top: 20px;
  padding: 10px 0px 10px 0px;
  text-align: right;
  color: #2d3c49;
}

.header__logo {
  width: 70px;
  vertical-align: top;
  float:left;
}

.header__title {
  font-weight: 100;
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
}

.header__subtitle {
  font-weight: 100;
  font-size: 1em;
  margin: 0;
  text-transform: uppercase;
}

/*
 *
 * Content
 *
 */
 .advertise {
   margin-top: 30px;
 }

.work__item {
  width: 33.33%;
  text-align: center;
  margin: 0;
}

.__left {
  float: left;
  padding-right: 10px;
}

.__center {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

.__right {
  float: right;
  padding-left: 10px;
}

.work__item a,
.work__item a:visited {
  text-decoration: none;
  color: #7d97ad;
  padding: 1.5em;
}

.work__item a:hover {
  text-decoration: underline;
  color: #7d97ad;
}

.feature__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 2em;
  color: #7d97ad;
}

figure {
  margin: auto;
}

figcaption h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
  margin: 10px;
}
